.function-color-rgb {
  a1: #010203;
  a2: rgba(1, 2, 3, .5);
  a3: 2;
  a4: 6;
  a5: 4;
  a6: .5;
  a7: #123;
  a8: #40050607;
}
.function-color-hsl {
  b1: #bf0100;
  b2: #6abf40;
  b3: #606020;
  b4: #356020;
  b5: rgba(191, 66, 64, .5);
  b6: 50;
  b7: 20%;
  b8: 10%;
  b9: 5.27704669%;
  b10: 23%;
}
.function-color-hsv {
  c1: #402020;
  c2: #402020;
  c3: rgba(64, 32, 32, .5);
  c4: rgba(64, 32, 32, .5);
}
.function-color-contrast {
  d1: contrast(123);
  d2: #000;
  d3: #111;
  d4: #111;
  d5: #111;
  d6: #222;
  d7: #222;
}
.function-color-adjustment {
  d1: 48.44632879%;
  d2: #6f6f6f;
  d3: #a2a2a2;
  d4: grey;
  d5: rgba(50, 50, 50, .25);
  d6: rgba(50, 50, 50, .75);
  d7: rgba(50, 50, 50, .25);
  d8: rgba(64, 170, 191, .5);
  d9: rgba(64, 115, 191, .5);
  d10: #222;
  d11: #555;
  d12: #5e4c4c;
  d13: 72%;
}
.function-color-combination {
  e1: #333;
  e2: #666;
  e3: #666;
  e4: #78868f;
  e5: #10315c;
  e6: #456;
  e7: #456;
  e8: #5e6f80;
  e9: #2b3c4d;
  e10: #08121f;
  e11: #090909;
  e12: #999;
  e13: #8ac;
  e14: #050505;
  e15: #10243d;
  e16: #bbb09f;
  e17: #313131;
  e18: #8098ad;
  e19: #444;
  e20: #10243b;
  e21: #132435;
  e22: #131313;
}
