.operations-basic-math {
  a1: 0;
  a2: 0;
  a3: 0;
  a4: 0;
  a5: -3;
  a6: 5;
  a7: 1;
}
.operations-operators {
  b1: 0;
  b2: 6;
  b3: -500;
  b4: .5;
  b5: 8;
  b6: 1;
  b7: .01;
}
.operations-precedence {
  c1: 13;
  c2: -7;
  c3: 1;
  c4: 39;
}
.operations-parens {
  d1: 16;
  d2: -4;
  d3: -.5;
  d4: 50;
}
.operations-convert-units {
  e1: 144px;
  e2: 1.5in;
  e3: 2000ms;
  e4: 1.5s;
  e5: .5khz;
  e6: 1100hz;
  e7: 720deg;
  e8: 1.5turn;
}
