@media foo and (width: 12px) {
  .media-features {
    dummy: rule;
  }
}
@media (a: 1), (b: 2) and (c: 3) {
  .media-features {
    dummy: rule;
  }
}
.mixin-guard {
  dummy: rule;
}
.ruleset {
  ignore: me;
}
.ruleset-1,
.ruleset-2 {
  ignore: me;
}
