/* TRACE[1]:   define   @ugly: #f0f    css-escapes.less:1  */
.escape\|random\|char {
  /* TRACE[2]: next rule defined at 'css-escapes.less:4' */
  color: red;
}
.mixin\!tUp {
  /* TRACE[3]: next rule defined at 'css-escapes.less:8' */
  font-weight: bold;
}
.\34 04 {
  /* TRACE[4]: next rule defined at 'css-escapes.less:13' */
  background: red;
}
.\34 04 strong {
  /* TRACE[5]: next rule defined at 'css-escapes.less:16' */
  color: #f0f;
  /* TRACE[6]:     start   .mixin\!tUp    css-escapes.less:17  */
  /* TRACE[7]: next rule defined at 'css-escapes.less:8' */
  font-weight: bold;
  /* TRACE[8]:       end   .mixin\!tUp    css-escapes.less:17  */
}
.trailingTest\+ {
  /* TRACE[9]: next rule defined at 'css-escapes.less:22' */
  color: red;
}
/* This hideous test of hideousness checks for the selector "blockquote" with various permutations of hex escapes */
\62\6c\6f \63 \6B \0071 \000075o\74 e {
  /* TRACE[10]: next rule defined at 'css-escapes.less:27' */
  color: silver;
}
[ng\:cloak],
ng\:form {
  /* TRACE[11]: next rule defined at 'css-escapes.less:32' */
  display: none;
}
