@media a, b {
  .parent .child {
    /* TRACE[1]: next rule defined at 'media.less:5' */
    a: 1;
  }
}
@media a and c and d, b and c and d, a and e, b and e {
  .parent-1 {
    /* TRACE[2]: next rule defined at 'media.less:14' */
    b: 2;
  }
}
@media a and f and g, b and f and g {
  .parent-2 {
    /* TRACE[3]: next rule defined at 'media.less:19' */
    c: 3;
  }
}
