.result-1 {
  /* (@a < 10px) */
  -3: 1;
  /* (10px > @a) */
  -6: 1;
  /* (@a <= 10px), (@a >= 20px) */
  -8: 1;
  /* not (@a = 20px) and not (@a = 5px) */
  -9: 1;
}
.result-true {
  /* (@a) */
  -1: true;
  /* (@a = true) */
  -2: true;
  /* not (@a = 20px) and not (@a = 5px) */
  -9: true;
}
.result-escaped-true {
  /* (@a) */
  -1: true;
  /* (@a = true) */
  -2: true;
  /* not (@a = 20px) and not (@a = 5px) */
  -9: true;
}
.result-quoted-true {
  /* not (@a = 20px) and not (@a = 5px) */
  -9: 'true';
}
.result-quoted-11px {
  /* not (@a = 20px) and not (@a = 5px) */
  -9: 11px;
}
.result-red {
  /* not (@a = 20px) and not (@a = 5px) */
  -9: red;
}
.result-red-hex {
  /* not (@a = 20px) and not (@a = 5px) */
  -9: red;
}
.result-blue-hex {
  /* (#00f = @a) */
  -7: blue;
  /* not (@a = 20px) and not (@a = 5px) */
  -9: blue;
}
.result-5px {
  /* (@a < 10px) */
  -3: 5px;
  /* (10px > @a) */
  -6: 5px;
  /* (@a <= 10px), (@a >= 20px) */
  -8: 5px;
}
.result-20px {
  /* (@a > 10px) */
  -4: 20px;
  /* (10px < @a) */
  -5: 20px;
  /* (@a <= 10px), (@a >= 20px) */
  -8: 20px;
}
.result-30px {
  /* (@a > 10px) */
  -4: 30px;
  /* (10px < @a) */
  -5: 30px;
  /* (@a <= 10px), (@a >= 20px) */
  -8: 30px;
  /* not (@a = 20px) and not (@a = 5px) */
  -9: 30px;
}
