.spaces {
  a-prop: 1px 2px !important;
  b-prop: 3px 4px !important;
}
.spaces-and-vars {
  a-header-prop: 1px 2px !important;
  b-header-prop: 3px 4px !important;
}
.commas {
  a-prop: 1px, 2px !important;
  b-prop: 3px, 4px !important;
}
.commas-and-vars {
  a-header-prop: 1px, 2px !important;
  b-header-prop: 3px, 4px !important;
}
.mixed-merge-modes {
  a-prop: 1px 2px;
  b-prop: 3px, 4px;
}
.target-1 {
  a-prop: 1px red;
  b-prop: 3px, blue;
}
.target-2 {
  a-prop: red 1px;
  b-prop: blue 3px;
}
